asgiref==3.8.1
distlib==0.3.9
Django==5.1.5
django-filter==24.3
django-seed==0.3.1
djangorestframework==3.15.2
Faker==35.2.0
filelock==3.17.0
Markdown==3.7
platformdirs==4.3.6
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.17.0
sqlparse==0.5.3
toposort==1.10
typing_extensions==4.12.2
virtualenv==20.29.1
