/* 
Commenting for now because we will first implement vanilla css
@tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f9fafb;
    color: #333;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: inherit; 
    /* keeping this inherit because this is a global style file and we want links to have specific colors as needed */
}

ul{
    list-style-type: none;
}

button{
    cursor: pointer;
}